<h2>All the answers</h2>
<table>
  <thead>
    <tr>
      <th>User Id</th>
      <th>Question Id</th>
      <th>Question</th>
      <th>Answered Index</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let response of responses">
      <td>
        {{ response.userId }}
      </td>
      <td>
        {{ response.questionId }}
      </td>
      <td>
        {{ getQuestionById(response.questionId) }}
      </td>
      <td>
        {{ response.answeredIndex }}
      </td>
    </tr>
  </tbody>
</table>

<h2>Calculate amount of users answered both on selected questions:</h2>
<h3>Question one</h3>
<select [formControl]="questionOne">
  <option *ngFor="let question of questions" [value]="question.id">
    {{ question.question }}
  </option>
</select>
<ng-container *ngIf="questionOne.value">
  Desired answer:
  <select [formControl]="answerOne">
    <option
      *ngFor="let answer of getAnswers(questionOne.value)"
      [value]="answer.index"
    >
      {{ answer.answer }}
    </option>
  </select>
</ng-container>
<br />
<h3>Question Two</h3>
<select [formControl]="questionTwo">
  <option *ngFor="let question of questions" [value]="question.id">
    {{ question.question }}
  </option>
</select>
<ng-container *ngIf="questionTwo.value">
  Desired answer:
  <select [formControl]="answerTwo">
    <option
      *ngFor="let answer of getAnswers(questionTwo.value)"
      [value]="answer.index"
    >
      {{ answer.answer }}
    </option>
  </select>
</ng-container>

<br />
<br />
<br />
<button (click)="calculate()">Calculate</button>

<ng-container *ngIf="result !== undefined">
  <h2>Result:</h2>
  {{ result?.length }} user(s) answered on both questions with the selected
  answers.<br />
  <ng-container *ngIf="result">Here are the user ids:{{ result }}</ng-container>
</ng-container>
