table {
  width: 100%;
  border-collapse: collapse;
  td,
  th {
    text-align: center;
    padding: 1rem;
  }
  tr:nth-child(even) {
    background: lightgrey;
  }
  th {
    border-bottom: 2px solid gray;
  }
}
